@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/* Navbar CSS Start*/
a {
    text-decoration: none;
    color: whitesmoke;
}

.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    color: orangered;
    font-size: 6vmin;
}

.nav-link{
    display: flex;
    align-items: center;
}

.nav-link li{
    margin: 0 30px;
}

ul{
    list-style-type: none;
}

ul.nav-link li a{
    flex: 1;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border-bottom: 2px solid;
    border-color: transparent;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

ul.nav-link li a:hover{
    border-bottom: 2px solid;
    color: white;
    border-color: orangered;
}

/* Navbar CSS End */

header{
    width: 100vw;
    height: 100vh;
    background-image: url(Backgroun\ Fix.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.header-content{
    margin-bottom: 150px;
}

.header-content h2{
    font-size: 7vmin;
    color: white;
}

.line{
    width: 750px;
    height: 4px;
    background: orangered;
    margin: 20px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 25px;
    margin-bottom: 30px;
    color: white;
}

body ,html{
    overflow-x: hidden;
}

body{
    background-color: rgb(46, 46, 46);
}


section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(255, 128, 82);
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

h4{
    font-size: 3vmin;
    color: darkorange;
    margin: 5% auto;
}

p{
    color: white;
    padding: 0px 40px;
}

.CatBreeds .content{
    margin-top: 20px;
}

img{
    border-radius: 10%;
}

.content{
    padding: 8px 15px;
    background: rgb(255, 128, 82);
    border-radius: 30px;
    color: whitesmoke;
    margin-bottom: 30px;
}

.footer{
    width: 100%;
    min-height: 200px;
    padding : 20px 80px;
    margin: 0;
    background :rgb(255, 128, 82);
    text-align: center;
}

.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}